<div class="formulario col-md-12">
      <div class="formulario_container">
        <%= form_for(@imap, url: {action: "send_imap"}) do |f| %>
        <fieldset>
          <div class="row"></div>
          <%# Servidor de Origem %>
          <br>
          <div>
            <h5>Servidor de origem</h5>
          </div>
        
          <div class="row">
           
            <div class="col-md-6">
              <%= f.label :source_name, t('.form.Email'), class: "form_label" %>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"> <i class="fas fa-envelope"></i></div>
                </div>
                <%= f.text_field :source_name, class: "form-control" %>
              </div>
            </div>

            <div class="col-md-6">
              <%= f.label :source_host, t('.form.Servidor'), class: "form_label"
              %>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"> <i class="fas fa-database"></i></div>
                </div>
                <%= f.text_field :source_host, class: "form-control" %>
              </div>
            </div>
          </div>



          <div class="row">
            <div class="col-md-6">
              <%= f.label :source_port, t('.form.Porta'), class: "form_label" %>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-ethernet"></i></div>
                </div>
                <%= f.text_field :source_port, class: "form-control" %>
              </div>
            </div>


            <div class="col-md-6">
              <%= f.label :source_pass, t('.form.Senha'), class: "form_label" %>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"> <i class="fas fa-key"></i></div>
                </div>
                <%= f.password_field :source_pass, class: "form-control" %>
              </div>
            </div>

          </div>
          <div class="form-group">
            <br>
            SSL
            <i class="fas fa-shield-alt" style="color:#3d0f96 !important"> </i>
            <br />
            <%= f.check_box :source_ssl %>
            <br />
          
          </div>
          <br />
          <div>


            <h5>Servidor de destino</h5>
          </div>
          <%# Servidor de destino %>
          <div class="row">

            <div class="col-md-6">
              <%= f.label :dest_name, t('.form.Email'), class: "form_label" %>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-envelope"></i></div>
                </div>
                <%= f.text_field :dest_name, class: "form-control" %>
              </div>
            </div>

            <div class="col-md-6">
              <%= f.label :dest_host, t('.form.Servidor'), class: "form_label"
              %>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"> <i class="fas fa-database"></i></div>
                </div>
                <%= f.text_field :dest_host, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
           
            <div class="col-md-6">
              <%= f.label :dest_port, t('.form.Porta'), class: "form_label" %>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-ethernet"></i></div>
                </div>
                <%= f.text_field :dest_port, class: "form-control" %>
              </div>
            </div>

            <div class="col-md-6">
              <%= f.label :dest_pass, t('.form.Senha'), class: "form_label" %>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-key"></i></div>
                </div>
                <%= f.password_field :dest_pass, class: "form-control" %>
              </div>
            </div>

          </div>


          <div class="form-group">
            <br>
            SSL
            <i class="fas fa-shield-alt" style="color: #3d0f96 !important;"></i>
            <br />
            <%= f.check_box :dest_ssl %>
            <br />
          </div>
          <br />
          <div class="form-group" id="click-me">
            <%= button_tag(type: "submit", class: "btn btn-primary btn-lg btn-block") do %>
            Iniciar  <i class="fa fa-send-o"></i>
            <%end%>
          </div>
        </fieldset>
        <% end %>
      </div>
    </div>
  </div>

  <%# https://formden.com/blog/addon-icon %>
  <%# https://mdbootstrap.com/docs/jquery/navigation/footer/ %>